page-location {
  ion-card {
    margin-bottom: 24px !important;
  }

  .add-location {
    padding-left: 8px;
    .input-cover {
      border-bottom: 1px solid color($colors, text-sub);
      border-bottom-color: color($colors, text-sub) !important;
    }
  }

  ion-icon {
    margin: 0 3px !important;
  }

  ion-spinner {
    color: color($colors, light);
    margin-left: 16px;
  } 
}
