<ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>

<ion-card [style.display]="(address && !isLoading) ? 'block' : 'none'">
  <ion-card-header>Voting result for {{votingName$ | async}}</ion-card-header>
  <ion-card-content>
    <page-voting-chart [locationPoints]="locationPoints" displayLegend="true" [reload]="chartReloadSubject"></page-voting-chart>
  </ion-card-content>
  <ion-list *ngIf="winningLocationPoint && winningStochasticLocation">
    <ion-item class="first-winner">
      <ion-label>Majority winner</ion-label>
      <span item-right>{{ winningLocationPoint.location.name }}</span>
    </ion-item>
    <ion-item>
      <ion-label>Stochastic winner</ion-label>
      <span item-right>{{ winningStochasticLocation }}</span>
    </ion-item>
  </ion-list>
</ion-card>