page-voting-closed-details {
  ion-spinner {
    width: 100%;
  }

  ion-card {
    margin-top: 36px !important;
  }

  ion-list {
    margin-bottom: 24px !important;
    
    .first-winner {
      border-bottom: 1px solid color($colors, text-sub) !important;
    }
  }

  ion-label {
    color: color($colors, text-sub) !important;
  }
}
