page-team {
  h2 {
    margin-bottom: 40px;
  }

  ion-card {
    margin-bottom: 24px !important;
    ion-item h2 {
      margin: 2px 0 !important;
    }
  }

  .hint {
    padding: 6px 16px;
  }

  .qrcode-placeholder {
    /* TODO: Should be improved */
    background: white;
    min-width: 180px;
    min-height: 180px;
  }
  
  .members, .approve-members {
    h2, h3 {
      color: color($colors, light);
    }
  }
  
  div.qrcode img {
    filter: invert(100%) brightness(85%) contrast(95%) sepia(100%) saturate(143%) hue-rotate(333deg);
  }
}
