page-team {
  h2 {
    margin-bottom: 40px;
  }

  ion-card {
    margin-bottom: 24px !important;
  }

  ion-card-header {
    color: #32db64 !important;
    font-weight: bold;
  }

  .hint {
    padding: 6px 16px;
  }


  .qrcode-placeholder {
    /* TODO: Should be improved */
    background: white;
    min-width: 180px;
    min-height: 180px;
  }

  
  .members, .approve-members {
    h2, h3 {
      color: color($colors, light);
    }
  }
}
