<ion-header>
  <ion-navbar>
    <ion-title>Team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <!-- USER DOES NOT HAVE A TEAM -->
  <div *ngIf="!(teamAddress | async)">
    <p class="hint">
      Before you start voting, please join a team. You can create your own team 
      or join an existing team by using a qr code.
    </p>

    <!-- CREATE A NEW TEAM -->
    <ion-card>
      <ion-card-header>Create a team</ion-card-header>
      <ion-card-content>
        <form [formGroup]="createTeamForm" (submit)="createTeam()">
          
          <ion-item>
            <ion-label for="name">Team name:</ion-label>
            <ion-input class="form-control" type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="creatorName">Your name:</ion-label>
            <ion-input class="form-control" type="text" formControlName="creatorName"></ion-input>
          </ion-item>
          
          <button ion-button outline block type="submit" [disabled]="createTeamForm.invalid || createTeamForm.pristine">Create a new team</button>
      
        </form>
      </ion-card-content>
    </ion-card>

    <!-- JOIN AN EXISTING TEAM -->
    
    <ion-card>
      <ion-card-header>Join an existing team</ion-card-header>
      <ion-card-content>
        <button ion-button outline block icon-left (click)="scanInvitationToken()">
          <ion-icon name="qr-scanner"></ion-icon>Scan an invitation token
        </button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- USER HAS A TEAM -->
  <div *ngIf="(teamAddress | async)">
    <p class="hint">
      Glad to see that you're a team member. Invite your friends and start votings now.
    </p>

    <!-- CREATE INVITATION TOKEN -->
    <button ion-button outline block icon-left *ngIf="!teamInvitation && !invitationTokenIsLoading" (click)="createInvitationToken()">
      <ion-icon name="barcode"></ion-icon>Create invitation token
    </button>
    
    <ion-card>
      <div *ngIf="invitationTokenIsLoading" class="qrcode-placeholder"></div>
      
      <ngx-qrcode *ngIf="!invitationTokenIsLoading && teamInvitation" [qrc-value]="teamInvitation.asJson()"></ngx-qrcode>
      
      <ion-navbar *ngIf="teamInvitation">
        <ion-buttons start>
          <button ion-button (click)="deleteInvitationToken()">Delete token</button>
        </ion-buttons>
        <ion-buttons end>
          <button ion-button (click)="createInvitationToken()" [disabled]="invitationTokenIsLoading">Refresh token</button>
        </ion-buttons>
      </ion-navbar>
    </ion-card>

    <page-location></page-location>


    <!-- <ion-card>
      <ion-card-header>Stats</ion-card-header>
      <ion-list>
        <ion-item>Members Count: {{ membersCount }}</ion-item>
        <ion-item>Pending Members Count: {{ pendingMembersCount }}</ion-item>
      </ion-list>
    </ion-card> -->
  </div>
</ion-content>
