page-team-member {
  .segment-entry {
    padding: 24px 16px 16px !important;
  }

  .segment-entry.createToken {
    ion-card.qr-code-wrapper {
      margin-top: -24px !important;
      background: none !important;
    }

    .inner-wrapper {
      margin: 0 24px;
      ion-card {
        margin-bottom: 12px !important ;
      }
      ion-card-content {
        font-size: 13px !important;
      }
    }
    ion-spinner {
      margin-left: 6px;
    }
  }
}
