<ion-toolbar>
  <ion-segment [(ngModel)]="segmentArea">
    <ion-segment-button value="members">
      Members
    </ion-segment-button>
    <ion-segment-button value="createToken" (click)="createFirstInvitiationToken()">
      <ion-icon name="person-add"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="locations">
      Locations
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="segmentArea == 'members'" class="segment-entry members">
    <ion-card class="approve-members">
      <ion-card-header>Approve pending members <ion-spinner name="dots" *ngIf="loader.pendingMembers"></ion-spinner></ion-card-header>
      <ion-card-content *ngIf="(pendingMembers.length == 0) && !(loader.pendingMembers === -1)">No pending invitations</ion-card-content>
      <ion-list *ngIf="(pendingMembers.length > 0) && !(loader.pendingMembers === -1)">
        <ion-item *ngFor="let pendingMember of pendingMembers" (click)="confirmPendingMember(pendingMember)">
          <ion-avatar item-start>
            <img src="assets/avatars/{{pendingMember.avatarId}}.svg">
          </ion-avatar>
          <h2>{{ pendingMember.name }}</h2>
          <h3>{{ pendingMember.account }}</h3>
          <p>Token: {{ pendingMember.invitationToken }}</p>
        </ion-item>
      </ion-list>
    </ion-card>
    
    <ion-card class="members">
      <ion-card-header>Members <ion-spinner name="dots" *ngIf="loader.members"></ion-spinner></ion-card-header>
      <ion-card-content *ngIf="(members.length == 0) && !(loader.members === -1)">No team members</ion-card-content>
      <ion-list *ngIf="(members.length) > 0 && !(loader.members === -1)">
        <ion-item *ngFor="let member of members">
          <ion-avatar item-start>
            <img src="assets/avatars/{{member.avatarId}}.svg">
          </ion-avatar>
          <h2>{{ member.name }} <span *ngIf="userAccount == member.account">(You)</span></h2>
          <p>{{ member.account }}</p>
        </ion-item>
      </ion-list>
    </ion-card>

  </div>


  <!-- CREATE INVITATION TOKEN -->
  <div *ngIf="segmentArea == 'createToken'" class="segment-entry createToken">
    <ion-card>
      <div *ngIf="invitationTokenIsLoading" class="qrcode-placeholder"></div>
      
      <ngx-qrcode *ngIf="!invitationTokenIsLoading && teamInvitation" [qrc-value]="teamInvitation.asJson()"></ngx-qrcode>
      
      <div class="button-wrapper">
        <button ion-button outline block (click)="createInvitationToken()" [disabled]="invitationTokenIsLoading">
          Refresh token 
          <ion-spinner name="dots" *ngIf="loader.createInvitationToken" color="light"></ion-spinner>
        </button>
      </div>
    </ion-card>
  </div>

  <div *ngIf="segmentArea == 'locations'" class="segment-entry locations">
    <page-location [refresh]="refreshSubject"></page-location>
  </div>
</ion-content>