<!--
  Generated template for the VotingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>voting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>Create a Voting:</h4>

  <form [formGroup]="votingForm" (submit)="createVoting()">
    <div class="form-group">
      <label for="location">Select a location</label>
      <select formControlName="location">
        <option>Please select</option>
        <option *ngFor="let location of locations">{{ location.uri }} {{ location.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="address">Select an account:</label>
      <select formControlName="address">
        <option>Please select</option>
        <option *ngFor="let account of accounts" [value]="account.address">{{account.name}}: {{account.address}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="points">Points:</label>
      <input type="number" id="points" formControlName="points" />
    </div>
    
    <button type="submit" [disabled]="votingForm.invalid || votingForm.pristine">Create Voting</button>
  </form>

  <br><br><br>

  <div>
    <h2>Voting Name: <span>{{ votingName }}</span></h2><br>
    <button (click)="getVotingName()">Get Voting Name</button>
  </div>
  
  <br><br><br>

  <h2>Location Points</h2>
  <ul>
    <li *ngFor="let locationPoint of locationPoints">{{locationPoint.uri}}: {{ locationPoint.points }}</li>
  </ul>
  <br>
  <br>

  <h2>User Points</h2>
  <ul>
    <li *ngFor="let userPoint of userPoints">{{userPoint.account}}: {{ userPoint.points }}</li>
  </ul>
</ion-content>
