page-voting {

  ion-toolbar {
    min-height: 42px !important;
    padding: 0 !important;
  }

  .no-member {
    padding: 26px;
  }

  .segment-entry {
    padding: 24px 16px 16px !important;

    &.create {
      button {
        margin-top: 12px;
      }
    }
  }
}
