page-voting {
  ion-card {
    margin-bottom: 24px !important;
  }

  ion-card-header {
    color: #32db64 !important;
    font-weight: bold;
  }

  .no-member {
    padding: 24px;
  }

  .segment-entry {
    padding: 24px 16px 16px !important;

    &.create {
      button {
        margin-top: 12px;
      }
    }
  }
}
