body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
  font-family: "Open Sans", sans-serif;
}

#left{
  width:50%;
  position: relative;
  float: left;
  box-sizing: border-box;
  padding-right: 10px;
}
#right{
  width:50%;
  position: relative;
  float: right;
  box-sizing: border-box;
  padding-left: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h1 {
  width: 100%;
  margin-bottom: 3%;
}


h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}
