page-settings {
  .team-address {
    float:right;

    ion-icon {
      margin: 0 0 0 12px !important;
    }
  }

  ion-list-header {
    margin-bottom: 1px !important;
    border-top: 0 !important;
    border-bottom: 1px solid color($colors, primary);
    &.dev-options {
      margin-top: 36px !important;
    }
  }

  button {
    margin-top: 24px !important;
  }
}
