<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="settingsForm" (submit)="onSubmitButton()">
    <ion-list>
      <ion-list-header>App settings</ion-list-header>
      <ion-item>
        Team: 
        
        <div class="team-address">
          <span *ngIf="teamAddress$ | async; then showTeamAddress else noTeamAddress"></span>
          <ng-template #showTeamAddress>
            {{ teamName$ | async }}
            <ion-icon name="close-circle" item-end (click)="removeTeamAddress()"></ion-icon>  
          </ng-template>
          <ng-template #noTeamAddress>You're not part of a team</ng-template>
        </div>
      </ion-item>
      <ion-item>
        <ion-label for="name">Name</ion-label>
        <ion-input formControlName="name" text-right (keyup)="onInputChange()"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header class="dev-options">Developer options</ion-list-header>
      <ion-item>
        <ion-label for="account">Account</ion-label>
        <ion-select formControlName="account" (ionChange)="onInputChange(false)">    
          <ion-option *ngFor="let account of accounts" [value]="account.address">{{account.name}}: {{account.address}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label for="loggingAddress">Logging-Addresse</ion-label>
        <ion-input formControlName="loggingAddress" text-right (keyup)="onInputChange()"></ion-input>
      </ion-item>

      <button ion-button block outline type="submit" [disabled]="settingsForm.invalid">Save settings</button>
    </ion-list>
  </form>
</ion-content>
