// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$colors: (

  primary:    #e7723b,
  secondary:  #ffc917,
  danger:     #630700,
  success:    rgb(49, 100, 7),
  light:      #f4f4f4,
  dark:       #0e0705,

  tabs:       #241d18,
  list:       #1b150f,
  text-light: #fff,
  text-dark:  #222,

) !default;


$text-color:                 color($colors, text-light) !default;
$link-color:                 color($colors, primary) !default;
$background-color:           color($colors, dark) !default;
$subdued-text-color:         #666 !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px

$content-padding:            16px !default;
$content-margin:             16px !default;

$toolbar-background:         color($colors, dark) !default;
$toolbar-border-color:       color($colors, secondary) !default;
$toolbar-text-color:         $text-color !default;
$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     #8c8c8c !default;

$tabs-background:            color($colors, tabs) !default;
$tabs-border-color:          color($colors, secondary) !default;
$tabs-tab-color-inactive:    #8c8c8c !default;
$tabs-tab-color-active:      $link-color !default;

$list-text-color:            $text-color !default;
$list-background-color:      color($colors, list) !default;
$list-border-color:          #000 !default;


// Custom Vars
// --------------------------------------------------
// 


$toast-success:             color($colors, success);
$toast-text-success:        color($colors, text-light);
$toast-danger:              color($colors, danger);
$toast-text-danger:         color($colors, text-light);

$refresher-icon-color: color($colors, light);
$refresher-text-color: color($colors, light);
$refresher-border-color: color($colors, dark);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// @import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
