// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toast-success {
  > div {
    background-color: $toast-success !important;
    .toast-message {
      color: $toast-text-success !important;
    }
  }
}

.toast-error {
  > div {
    background-color: $toast-danger !important;  
    .toast-message {
      color: $toast-text-danger !important;
    }
  }
}

ion-card-header, ion-list-header {
  color: color($colors, secondary) !important;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  // font-weight: bold;
  font-size: 1.3em;

    ion-spinner {
      margin-bottom: -9px;
      margin-left: 5px;
      margin-top: -5px;
      circle { fill: color($colors, secondary) !important;}
  }
}

ion-spinner {
  circle { fill: color($colors, primary) !important;}
}


ion-avatar.input-avatar {
  z-index: 2 !important;
  margin-top: 12px !important;
}
ion-card {
  margin: 0 0 24px 0 !important;
  width: 100% !important;
}

ion-card.infobox {
  ion-item {
    ion-icon, h2 {
      color: $card-item-header-color !important; 
    }
  }
  .item-inner {
    margin-left: 9px !important; 
  }
}

ion-title {
  text-align: center;
}

.segment-button:not(.segment-activated) {
  opacity: 0.4 !important;
}


.alert-dark {
  ion-backdrop {
    background: rgba(29,21,15, 0.95) !important;
    opacity: 1 !important;
  }
  .alert-wrapper {
    background: color($colors, dark);
    color: color($colors, light);
  }
  .alert-message {
    color: color($colors, light);
  }
}