<ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>

<div *ngIf="address && !isLoading">

  <h3>Voting: {{votingName$ | async}}</h3>

  <ion-card>
    <ion-card-header>Vote for locations</ion-card-header>
    <ion-card-content>
      <div *ngIf="(locations$ | async)?.length == 0">Add a location at the team page before start voting.</div>
        <div *ngFor="let location of locations$ | async">
          {{location.name}}
          <ion-range-slider 
            min="0" 
            max="100" 
            from="0" 
            from_min="0" 
            from_max="{{remainingPoints + (points[location.uri] ? points[location.uri] : 0)}}" 
            from_shadow="true"
            (onChange)="pointsChanged(location, $event)">
          </ion-range-slider>
        </div>
    </ion-card-content>
    <button ion-button outline block type="submit" [disabled]="remainingPoints == 100" (click)="submitVotes()">Submit your votes</button>
  </ion-card>

  <ion-card>
    <ion-card-header>Location Points <ion-spinner name="dots" *ngIf="areLocationPointsLoading"></ion-spinner></ion-card-header>
    <ion-list>
      <ion-item *ngFor="let locationPoint of locationPoints">{{locationPoint.uri}}: {{ locationPoint.points }}</ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>User Points <ion-spinner name="dots" *ngIf="areUserPointsLoading"></ion-spinner></ion-card-header>
    <ion-list>
      <ion-item *ngFor="let userPoint of userPoints">{{userPoint.account}}: {{ userPoint.points }}</ion-item>
    </ion-list>
  </ion-card>
</div>