page-voting-details {

  ion-card {
    margin: 38px 0 0 0 !important;
    width: 100% !important;
  }

  ion-spinner {
    width: 100%;
  }
  ion-input input {
    text-align: right;
  }

  ion-badge {
    margin-left: 3px;
  }

  button {

    ion-spinner {
      width: 28px;
      margin-left: 6px !important;
    }
  }

  .slider-wrapper {
    margin-bottom: 18px;
  }

  .slider-label {
    margin-bottom: -7px;
  }

  .chart-wrapper {
    margin-top: -24px;
  }


  // Custom range slider style
  .irs {
    height: 55px;
    padding: 0 4px;
  }

  .irs-min, .irs-max {
    background-color: color($colors, list);
    border: none;
    color: white;
    z-index: 3;
    font-size : 14px;
    top: 16px;
  }

  .irs-min {
    padding-right: 8px;
  }
  .irs-max {
    padding-left: 8px;
  }

  .irs-single {
    @include border-radius(50%);
    color: color($colors, lightbrown);
    background: color($colors, lightbrown);
    height: 28px;
    width: 28px;
    top: 12px;
    cursor: pointer;
    
    z-index: 2;
    display: block;
    font-size: 11px;

    &:after {
      display: none;
    }
  }

  .irs-line, .irs-bar, .irs-shadow {
    height: 4px;
    top: 24px;
  }
  .irs-line {
    background: color($colors, lightbrown);
  }

  .irs-bar {
    background: color($colors, primary);
    z-index: 1;
  }
  .irs-shadow {
    background:  color($colors, danger);
    opacity: 1;
  }
}
