<ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>

<ion-card *ngIf="address && !isLoading && !hasVoted">
  <ion-card-header>Vote for {{votingName$ | async}}</ion-card-header>
  <ion-card-content>
    <div *ngIf="locationPoints.length== 0">Add a location at the team page before start voting.</div>
    <div class="slider-wrapper" *ngFor="let locationPoint of locationPoints; let i=index">
      <div class="slider-label">
        {{locationPoint.location.name}} <ion-badge item-end [style.backgroundColor]="colors[i]">{{ locationPoint.points }}</ion-badge>
      </div>
      <ion-range-slider 
        min="0" 
        max="100" 
        from="0"
        from_min="0" 
        from_max="{{remainingPoints + locationPoint.points}}" 
        from_shadow="true"
        (onChange)="pointsChanged(locationPoint, $event)">
      </ion-range-slider>
    </div>

    <div *ngIf="locationPoints.length > 0">
      <page-voting-chart [locationPoints]="locationPoints" [reload]="chartReloadSubject"></page-voting-chart>

      <button ion-button outline block type="submit" [disabled]="remainingPoints != 0 || isTransmitting" (click)="submitVotes()">
        Submit your votes
        <ion-spinner name="dots" *ngIf="isTransmitting"></ion-spinner>
      </button>
    </div>
  </ion-card-content>
</ion-card>

<ion-card class="infobox" *ngIf="hasVoted">
  <ion-item>
    <ion-icon name="alert" item-left large></ion-icon>
    <h2>Voting {{ votingName$ | async }}</h2>
    <p>You've already voted!</p>
  </ion-item>
  <ion-card-content>
    <p>
      Since you have already voted, wait for your team members to vote. Then click on the button below to close the voting. 
      <button ion-button outline block type="submit" (click)="closeVoting()">Close voting</button>
    </p>
  </ion-card-content>
</ion-card>
